<button
  mat-stroked-button
  type="button"
  class="filter-trigger"
  #MatMenuTrigger="matMenuTrigger"
  [matMenuTriggerFor]="calendarMenu">
  <span class="filter-trigger__label">
    @if (hasRange()) {
      <mat-icon class="filter-trigger__calendar-icon">calendar_today</mat-icon>
    }
    <span>{{ getLabel() }}</span>
  </span>
  <mat-icon>arrow_drop_down</mat-icon>
</button>

<mat-menu #calendarMenu="matMenu" class="periodo-calendar-menu">
  <ng-template matMenuContent let-close="close">
    <div class="calendar-wrapper" (click)="$event.stopPropagation()">

      <mat-calendar
        [minDate]="minSelectableDate"
        [maxDate]="maxSelectableDate"
        [selected]="selectedRange"
        (selectedChange)="onSelectedChange($event)">
      </mat-calendar>

      @if (hasInvalidRange()) {
        <p class="error-msg">Período máximo de 31 dias.</p>
      }

      <div class="calendar-actions">
        <button mat-button type="button" (click)="onCancel()">
          Cancelar
        </button>
        <button
          mat-stroked-button
          type="button"
          [disabled]="!draftStart() || !draftEnd() || hasInvalidRange()"
          (click)="onApply()"
          >
          Aplicar
        </button>
      </div>

    </div>
  </ng-template>
</mat-menu>