@use 'app/design-system/ui-material-adapters' as ds-material;

@include ds-material.install-ui-material();

html,
body {
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: var(--ds-font-family-base);
  background: var(--ds-color-surface);
  color: var(--ds-color-on-surface);
  font: var(--ds-typography-body-medium);
}